Hello user! Current server time is {{time}}
<form>
    <label for="word"></label><input type="text" id="word">
    <input type="text" id="translation" title="Translation" value="translation">
    <input type="button" id="add-word" value="Add">
</form>
<ul>
    {{#words}}
        <li>{{name}} - {{translation}}</li>
    {{/words}}
</ul>