<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/react.development.js"></script>
    <script src="/javascripts/react-dom.development.js"></script>
    <script src="/javascripts/common-utils.js"></script>
</head>
<body>
Layout page
Here goes the body
{{>body}}
<form id="footer"></form>
<script>
    let process = {

    }
    class r {
        static elem(type, config, children) {
            return React.createElement.apply(null, arguments);
        }

        static render(component, container) {
            if (isString(container)) {
                container = $(`#${container}`)[0];
            }
            ReactDOM.render(component, container);
        }
    }

    class WordsTable extends React.Component {

//        static table_header = r.elem("tr", {},
//                r.elem("td", {}, "Word"),
//                r.elem("td", {}, "Translation"),
//                r.elem("td", {}, "Context")
//        );

        constructor(props) {
            super(props);
            this.state = {
                "words": [{
                    "word": "sun",
                    "translations": "солнце",
                    "contexts": "sun is high"
                }]
            };
        }

        render() {
            let words = this.state.words;
            let rows = [words.length + 1];
            rows.push(WordsTable.table_header);
            rows.push(words.map(word => r.elem(WordRow, word)));
            return r.elem("table", {}, rows)
        }
    }

    WordsTable.table_header = r.elem("tr", {},
            r.elem("td", {}, "Word"),
            r.elem("td", {}, "Translation"),
            r.elem("td", {}, "Context")
    );

    class WordRow extends React.Component {
        constructor(props) {
            super(props);
        }

        render() {
            return r.elem("tr", {},
                    r.elem("td", {}, this.props.word),
                    r.elem("td", {}, this.props.translations),
                    r.elem("td", {}, this.props.contexts)
            );
        }
    }

    r.render(r.elem(WordsTable), "footer");
    //    r.render(r.elem(WordRow, {
    //        "word": "hi",
    //        "translations": "привет",
    //        "contexts": "hi man"
    //    }), "footer")
</script>
</body>
</html>